      <hr>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img class="" src="./images/BuildAPCLogo.png" width="25%" alt="">
            <p>© 2018 BuildaPC, LLC. All rights reserved</p>
          </div>
          <div class="col-2">
            <p>Sections</p>
            <ul class="footer-list list-group list-group-flush">
              <li class="list-group-item">Blog</li>
              <li class="list-group-item">System Builder</li>
              <li class="list-group-item">Individual Parts</li>
              <li class="list-group-item">Login</li>
            </ul>
          </div>
          <div class="col-2">
            <p>My Account</p>
            <ul class="footer-list list-group list-group-flush">
              <li class="list-group-item">Login/Register</li>
              <li class="list-group-item">Dashboard</li>
              <li class="list-group-item">My Builds</li>
              <li class="list-group-item">Order History</li>
            </ul>
          </div>
          <div class="col-2">
            <p>Help and Contact</p>
            <ul class="footer-list list-group list-group-flush">
              <li class="list-group-item">FAQs</li>
              <li class="list-group-item">Terms and Conditions</li>
              <li class="list-group-item">Privacy Policy</li>
              <li class="list-group-item">Contact Us</li>
            </ul>
          </div>
          <div class="col-2">
            <p>Social</p>
            <ul class="footer-list list-group list-group-flush">
              <li class="list-group-item">Facebook</li>
              <li class="list-group-item">Twitter</li>
              <li class="list-group-item">YouTube</li>
              <li class="list-group-item">Discord</li>
            </ul>
          </div>
      </div>
    </body>
</html>