      <hr>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img class="" src="./images/BuildAPCLogo.png" width="25%" alt="">
            <p>© 2018 BuildaPC, LLC. All rights reserved</p>
          </div>
          <div class="col-2">
            <p>Sections</p>
            <ul>
              <li>System Builder</li>
              <li>Submitted Builds</li>
              <li>Individual Parts</li>
            </ul>
          </div>
          <div class="col-2">
            <p>My Account</p>
            <ul>
              <li>Login/Register</li>
              <li>Dashboard</li>
              <li>My Builds</li>
              <li>Order History</li>
            </ul>
          </div>
          <div class="col-2">
            <p>Help and Contact</p>
            <ul>
              <li>FAQs</li>
              <li>Terms and Conditions</li>
              <li>Privacy Policy</li>
              <li>Contact Us</li>
            </ul>
          </div>
          <div class="col-2">
            <p>Social</p>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>YouTube</li>
              <li>Twitch</li>
              <li>Discord</li>
            </ul>
          </div>
      </div>
    </body>
</html>