<%- include('./partials/header') %>

<div class="header">
    <div class="container">
       <h1 class="header-text">Blog</h1>
    </div>
</div>

<div class="container">

</div>
   
<%- include('./partials/footer') %>