<%- include('./partials/header') %>

<div class="header">
    <div class="container">
       <h1 class="header-text">Current Part List</h1>
    </div>
</div>

<div class="container">
    <table class="table table-striped">
       <thead>
          <tr>
          <th scope="col">Component</th>
          <th scope="col">Selection</th>
          <th scope="col">Price</th>
          <th scope="col">Shipping</th>
          <th scope="col">Where</th>
          <th></th>
          <th></th>
          <th></th>
          </tr>
       </thead>
       <tbody>
          <tr>
          <th scope="row">CPU</th>
          <td><a class="btn btn-primary" href="#" role="button">Choose a CPU</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <th scope="row">CPU Cooler</th>
          <td><a class="btn btn-primary" href="#" role="button">Choose a CPU Cooler</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <th scope="row">Motherboard</th>
          <td><a class="btn btn-primary" href="#" role="button">Choose a Motherboard</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <th scope="row">Memory</th>
          <td><a class="btn btn-primary" href="#" role="button">Choose Memory</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <th scope="row">Storage</th>
          <td><a class="btn btn-primary" href="#" role="button">Choose Storage</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <th scope="row">Video Card</th>
          <td><a class="btn btn-primary" href="#" role="button">Choose a Video Card</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <th scope="row">Case</th>
          <td><a class="btn btn-primary" href="#" role="button">Choose a Case</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <th scope="row">Power Supply</th>
          <td><a class="btn btn-primary" href="#" role="button">Choose a Power Supply</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <th scope="row">Opitical Drive</th>
          <td><a class="btn btn-primary" href="#" role="button">Choose an Optical Drive</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <th scope="row">Operating System</th>
          <td><a class="btn btn-primary" href="#" role="button">Choose an Operating System</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <th scope="row">Monitor</th>
          <td><a class="btn btn-primary" href="#" role="button">Choose a Monitor</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
          <th scope="row">Expansion/Networking</th>
          <td><a class="btn btn-primary" href="#" role="button">Add Expansion/Networking...</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <th scope="row">Peripherals</th>
          <td><a class="btn btn-primary" href="#" role="button">Add Peripherals...</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <th scope="row">Accessories/Other</th>
          <td><a class="btn btn-primary" href="#" role="button">Add Accessories/Other...</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <th scope="row">Custom</th>
          <td><a class="btn btn-primary" href="#" role="button">Add Custom Part</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Total:</td>
          </tr>
       </tbody>
    </table>
</div> 
<%- include('./partials/footer') %>