<%- include('./partials/header') %>
  <div class="jumbotron jumbotron-fluid" style="background: #071323">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-3">
            <h1 class="display-4">Up your game</h1>
            <p class="lead">Build your most epic PC yet for gaming domination</p>
            <a class="btn btn-primary mt-4" href="/build">Get Started</a>
          </div>
          <div class="col-md-6">
            <img class="mr-0 overlap" src="./images/Gaming-Computer-PNG-Free-Download.png" width="100%" alt="">
          </div>
        </div>
      </div>
  </div>
  <div class="jumbotron jumbotron-fluid" style="background: #eaf0f6">
    <div class="container">
      <h2 style="text-align: center">Submitted Builds</h2>
      <p style="text-align: center">Check out these completed builds from our users</p>
        <div style="justify-content: space-around;" class="row">
          <!-- https://stackoverflow.com/questions/15167545/how-to-crop-a-rectangular-image-into-a-square-with-css -->
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="./images/Rectangle 1.png">
              <div class="card-body">
                <p class="card-text">i7-8700k/GTX1080 Gaming/Streaming Machine</p>
                <p class="card-text">By JohnGame4</p>
                <p class="card-text">$1450.69</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="./images/Rectangle 3.png">
              <div class="card-body">
                <p class="card-text">Ryzen 5 1600, NZXT H200i, Gaming ITX Build</p>
                <p class="card-text">By zigi876</p>
                <p class="card-text">$2574.03</p>
              </div>      
            </div>          
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="./images/Rectangle 6.png">
              <div class="card-body">
                <p class="card-text">First build by a noob</p>
                <p class="card-text">By BrizenDire</p>
                <p class="card-text">$2208.45</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <a class="nav-link" style="text-align: center" href="#">See More</a>
  </div>
<%- include('./partials/footer') %>