<%- include('./partials/header') %>
  <div class="jumbotron jumbotron-fluid" style="background: #071323">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-3">
            <h1 class="display-4">Up your game</h1>
            <p class="lead">Build your most epic PC yet for gaming domination</p>
            <a class="btn btn-primary mt-4" href="/build">Get Started</a>
          </div>
          <div class="col-md-6">
            <img class="mr-0 overlap" src="./images/Gaming-Computer-PNG-Free-Download.png" width="100%" alt="">
          </div>
        </div>
      </div>
  </div>
  <div class="jumbotron jumbotron-fluid" style="background: #eaf0f6">
    <div class="container">
      <h1 style="text-align: center">Welcome to Buildapc!</h1>
      
      </div>
    </div>
  </div>
<%- include('./partials/footer') %>