<%- include('./partials/header') %>

<div class="header">
    <div class="container">
       <h1 class="header-text">Choose A ___</h1>
    </div>
</div>

<div class="container">
   <div class="row">
      <div class="sidebar col-3">
          <h3>Filters</h3>
          <hr>

          <h3>Rating</h3>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              All
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              ★★★★★
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              ★★★★☆
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              ★★★☆☆
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              ★★☆☆☆
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              ★☆☆☆☆
            </label>
          </div>
          <hr>

          <h3>Manufacturer</h3>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              All
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Intel
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              AMD
            </label>
          </div>
          <hr>
      </div>

      <div class="col-9">
          <h3>Parts</h3>
          <div class="col-3">
            <p>Search:</p>
            <input type="text" class="form-control">
          </div>
          <hr>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">CPU</th>
                <th scope="col">Speed</th>
                <th scope="col">Cores</th>
                <th scope="col">TDP</th>
                <th scope="col">Rating</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
      </div>
   </div>
</div>
<%- include('./partials/footer') %>