ul.navbar-nav > * {
   margin-right: 10px
}

.display-4 {
   color: #ffffff;
   font-weight: bold;
}

.lead {
   color: #ffffff
}

.overlap {
   position: absolute;
   top: -30%;
   left: 0;
}

#homeheader {
   background-image: url("../images/dreamhack-night-shot.jpg");
}

#headercont {
   background-color: rgba(0, 0, 0, 0.75);
   padding: 50px 25px 50px 25px;
}

div.header {
   background-color: black;
}

div.header > div.container {
   padding-top: 20px;
   padding-bottom: 20px;
}

h1.header-text {
   color: white;
}

.table {
   margin-top: 20px;
   margin-bottom: 20px;
}

.sidebar {
   background-color: bisque;
}

.logincard {
   margin-top: 25px;
   margin-bottom: 25px; 
}

ul.footer-list > li {
   font-size: 10px;
   padding: 5px;
}